@font-face {
  font-family: 'Derovana';
  src: url("{% static 'fonts/DerovanaDemoRegular.ttf' %}") format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Now you can apply the font globally or for specific elements */
body {
  font-family: 'Derovana', sans-serif;
}

.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #bcbcbc;
    border-radius: 0.375rem;
}

.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 0 3px #cccccc;
}

@keyframes shine {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
.animate-shine {
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3));
  background-size: 200% 100%;
  animation: shine 3s infinite;
}


/* Add this to your global.css */
@keyframes line-walk {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animated-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Adjust this height to match your design */
  background-color: white;
  transform: translateX(-100%);
  animation: line-walk 2s forwards; /* Adjust the duration as needed */
}

/* Style dasar untuk link navbar */
.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

/* Efek hover dengan kotak latar belakang */
.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B48125;
  border-radius: 0.375rem;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(0.9);
}

.nav-link:hover::before {
  opacity: 1;
  transform: scale(1);
}

.nav-link:hover {
  color: white; /* Warna teks saat di-hover */
}

/* Style untuk dropdown item */
.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  color: #4a4a4a;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

